canvas {
    box-shadow: 0 0 10px 1px grey;
    display: block;
    place-self: center;
}

.paths .content {
    grid-template-columns: 1fr 200px 1fr;
    grid-template-rows: repeat(5, auto);
    canvas {
        height: 100%;
        width: 100%;
        object-fit: contain;
        margin: 0;
        display: block;
    }
}

.curves .content {
    grid-template-rows: min-content min-content 1fr;
    canvas {
        display: block;
        width: 100%;
        object-fit: contain;
        margin: 0;
        box-shadow: none;
    }
}

.rotate .content {
    div:has(canvas) {
        place-self: center
    }

    canvas {
        display: block;
        margin: 0;
    }
}

.translate .content {
    div:has(canvas) {
        place-self: center
    }

    canvas {
        display: block;
        margin: 0;
    }
}
